.page{
    background-color: rgb(46, 116, 173);
    font-family: 'Noto Sans KR', sans-serif;
}


.link-icon { position: relative; display: inline-block; width: auto;    font-size: 14px; font-weight: 500; color: #333; margin-right: 10px; padding-top: 50px; }
.link-icon.twitter { background-image: url(./images/icon-twitter.png); background-repeat: no-repeat; }
.link-icon.facebook { background-image: url(./images/icon-facebook.png); background-repeat: no-repeat; } 
